
@{
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
    ViewBag.Title = "ConfirmBills";
}

<div>
    <span>Toplam Tutar: @ViewBag.SumCount</span>
</div>
<div>
    @Html.ActionLink("İptal", "Index", "Home", null, new { @class = "btn btn-light-primary font-weight-bolder font-size-h8 px-8 py-3 my-3 mr-3" })
    @using (Ajax.BeginForm("PayBill", "Home", new AjaxOptions { HttpMethod = "POST", OnComplete = "GenericResult" }))
    {
        <button type="submit" class="btn btn-info font-weight-bolder font-size-h8 px-8 py-3 my-3 mr-3 pay-button">Öde</button>
    }
</div>

@section Javascript{
    <script src="~/Scripts/AllPages/sweetalert2.min.js"></script>
    <script>
        function GenericResult(data, status) {
            if (status = "success") {
                var responseStatus = data.responseJSON.status;
                if (responseStatus == "Success") {
                    var message = data.responseJSON.message;
                    var url='@Url.Action("Index", "Home")';
                    GetAlert(message, "true",url);
                }
                else  {
                    var redirectMessage = data.responseJSON.ErrorMessage;
                    var urlHome='@Url.Action("Index", "Home")';
                    GetAlert(redirectMessage, "false", urlHome);
                }

            }
            else {
                console.log("Error");
            }
        }
        function GetAlert(message, Issuccess, Url) {
            if (Issuccess == "true") {
                Swal.fire({
                    icon: 'success',
                    title: 'Başarılı!',
                    confirmButtonText: `Tamam`,
                    text: message,
                }).then(function () {
                    window.location.href = Url;
                })
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata Oluştu',
                    cancelButtonText: 'Tamam',
                    text: message,
                }).then(function () {
                    if (Url != null) {
                        window.location.href = Url;
                    }
                })
            }
        }
    </script>
}