
@{
    ViewBag.Title = "Fatura Öde";
}


@if (ViewBag.ErrorMessage == null)
{
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xl-6 col-lg-6 col-12">
                <div class="card card-outline card-info">
                    <div class="card-header text-center">
                        <span style="font-size:1.5em">Toplam Tutar: <span class="text-danger">@ViewBag.SumCount TL</span> </span>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        @Html.ActionLink("İptal", "Index", "Home", null, new { @class = "btn btn-danger mr-5" })

                        @using (Html.BeginForm("PayBill", "Home", FormMethod.Post))
                        {
                            if (ViewBag.PrePaid != null)
                            {
                                <button type="submit" name="type" value="prePaid" class="btn btn-info pay-button">Öde</button>
                            }
                            else
                            {
                                <button type="submit" name="type" value="normal" class="btn btn-info pay-button">Öde</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage</span>
}

