
@{
    ViewBag.Title = "Fatura Öde";
}

@if (ViewBag.ErrorMessage == null)
{
    <div class="mb-2">
        <span>Toplam Tutar: @ViewBag.SumCount</span>
    </div>
    @Html.ActionLink("İptal", "Index", "Home", null, new { @class = "btn btn-danger" })


    using (Html.BeginForm("PayBill", "Home", FormMethod.Post))
    {
        if (ViewBag.PrePaid != null)
        {
            <div>
                <button type="submit" name="type" value="prePaid" class="btn btn-info pay-button">Öde</button>
            </div>
        }
        else
        {
            <div>
                <button type="submit" name="type" value="normal" class="btn btn-info pay-button">Öde</button>
            </div>
        }
    }
}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage</span>
}


