<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAgentWebService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.184.3.63:7575/AgentWebService.svc/AgentWebService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAgentWebService1"
                contract="AgentWebService.IAgentWebService" name="WSHttpBinding_IAgentWebService" />
        </client>
    </system.serviceModel>
</configuration>