:root {
    /*colors*/
    --main-text-color: black;
    --page-background-color: #f9fbfd;
    --header-background-color: #f9fbfd;
    --light-text-color: #ffffff;
    --navigation-background-color: #ffffff;
    --footer-background-color: transparent;
    --gray-text-color: #9eabc0;
    --light-border-color: #d0d0d0;
    /*dimentions*/
    --header-height: 4rem;
    --side-bar-width: 16rem;
    --footer-height: 2rem;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

a {
    text-decoration: none;
}

label {
    color: var(--black-text-color);
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5em 1em;
    line-height: 1.5em;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    color: #5c616a;
    border: 1px solid var(--light-border-color);
    width: 100%;
    box-sizing: border-box;
}

    button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
        outline: none;
        border-color: var(--gray-text-color);
    }

    button, input[type=button], input[type=reset], input[type=submit] {
        cursor: pointer;
        display: inline-block;
        /*color: #7c8798;*/
        text-align: center;
        vertical-align: middle;
        user-select: none;
        /*background-color: transparent;*/
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 2px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        width: initial;
        font-weight: 600;
    }

.btn-primary {
    color: #fff;
    background-color: #5f76e8;
    border-color: #5f76e8;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #3e59e3;
        border-color: #3250e2;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 .2rem rgba(119,139,235,.5);
    }

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
    }

    .btn-secondary:focus {
        box-shadow: 0 0 0 .2rem rgba(130,138,145,.5);
    }

.btn-success {
    color: #fff;
    background-color: #22ca80;
    border-color: #22ca80;
}

    .btn-success:hover {
        color: #fff;
        background-color: #1ca96b;
        border-color: #1b9e64;
    }

    .btn-success:focus {
        box-shadow: 0 0 0 .2rem rgba(67,210,147,.5);
    }

.btn-info {
    color: #fff;
    background-color: #5f76e8;
    border-color: #5f76e8;
}

    .btn-info:hover {
        color: #fff;
        background-color: #3e59e3;
        border-color: #3250e2;
    }

    .btn-info:focus {
        box-shadow: 0 0 0 .2rem rgba(119,139,235,.5);
    }

.btn-warning {
    color: #212529;
    background-color: #fdc16a;
    border-color: #fdc16a;
}

    .btn-warning:hover {
        color: #212529;
        background-color: #fcb144;
        border-color: #fcac38;
    }

    .btn-warning:focus {
        box-shadow: 0 0 0 .2rem rgba(220,170,96,.5);
    }

.btn-danger {
    color: #fff;
    background-color: #ff4f70;
    border-color: #ff4f70;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #ff2951;
        border-color: #ff1c47;
    }

    .btn-danger:focus {
        box-shadow: 0 0 0 .2rem rgba(255,105,133,.5);
    }

.btn-light {
    color: #212529;
    background-color: #e8eaec;
    border-color: #e8eaec;
}

    .btn-light:hover {
        color: #212529;
        background-color: #d3d7db;
        border-color: #ccd1d5;
    }

    .btn-light:focus {
        box-shadow: 0 0 0 .2rem rgba(202,204,207,.5);
    }

.btn-dark {
    color: #fff;
    background-color: #1c2d41;
    border-color: #1c2d41;
}

    .btn-dark:hover {
        color: #fff;
        background-color: #101a26;
        border-color: #0d141d;
    }

    .btn-dark:focus {
        box-shadow: 0 0 0 .2rem rgba(62,77,94,.5);
    }

html {
    height: 100%;
}

html, body {
    font-family: 'Open Sans', Tahoma;
    min-height: 100%;
    background-color: var(--page-background-color);
    color: var(--main-text-color);
    padding: 0;
    margin: 0;
    position: relative;
    overflow: auto;
}

div.page-header {
    background-color: var(--header-background-color);
    color: var(--main-text-color);
    position: fixed;
    height: var(--header-height);
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
    line-height: var(--header-height);
    font-size: 2em;
    z-index: 100;
}

div.page-title-bar {
    border-bottom: 1px solid #edf2f9;
    padding: 0 0.5rem;
    margin-left: var(--side-bar-width);
    height: var(--header-height);
    overflow: hidden;
}

div.page-head {
    display: inline-block;
}

div.page-navigation {
    background-color: var(--navigation-background-color);
    position: fixed;
    width: var(--side-bar-width);
    top: 0;
    bottom: 0;
    box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    padding-top: var(--header-height);
    overflow-x: hidden;
    overflow-y: auto;
}

div.navigation-logo {
    text-align: center;
    line-height: var(--header-height);
    height: var(--header-height);
    float: left;
    box-shadow: 0 -7px 9px 0 rgba(169,184,200,.15);
    width: var(--side-bar-width);
    font-size: 0.5em;
    background-color: var(--navigation-background-color);
    background-image: url('../images/logo/Master ISS.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14rem;
}

div.page-content {
    margin-left: var(--side-bar-width);
    margin-top: var(--header-height);
    padding: 0.5rem;
    position: relative;
    margin-bottom: var(--footer-height);
    font-weight: 300;
}

div.page-footer {
    background-color: var(--footer-background-color);
    position: absolute;
    left: var(--side-bar-width);
    bottom: 0;
    right: 0;
    height: var(--footer-height);
    text-align: center;
    line-height: var(--footer-height);
    color: var(--gray-text-color);
}

span.footer-version {
    text-decoration: underline;
    font-style: italic;
}

ul.title-bar-controls {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.5em;
    cursor: pointer;
    user-select: none;
}

    ul.title-bar-controls li {
        display: inline-block;
        padding: 0.2rem;
    }

.inline-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: 1em;
}

.user-profile-icon {
    background-image: url('../images/icons/user.svg');
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
    vertical-align: middle;
}

.chevron-down {
    background-image: url('../images/icons/down-chevron.svg');
}

.logout-icon {
    background-image: url('../images/icons/power-off.svg');
}

.add-client {
    background-image: url('../images/icons/add-client.svg');
}

.client-list {
    background-image: url('../images/icons/client-list.svg');
}

.payment {
    background-image: url('../images/icons/payment.svg');
}

div.drop-down-menu {
    display: none;
    box-shadow: 1px 1px 15px rgba(0,0,0,.1);
    background-color: var(--navigation-background-color);
    z-index: 1000;
    position: absolute;
}

    div.drop-down-menu.open {
        display: block;
    }

    div.drop-down-menu div.menu-item {
        padding: 0.5em;
        color: var(--gray-text-color);
    }

        div.drop-down-menu div.menu-item:hover {
            color: var(--main-text-color);
            background-color: #e8eaec;
        }

ul.title-bar-controls div.drop-down-menu {
    min-width: 5rem;
    line-height: 1em;
    right: 1rem;
}

input.title-bar-search {
    box-shadow: 0 2px 9px 0 rgba(169,184,200,.2);
    border-radius: 1.25em;
    border-color: transparent;
    background-image: url('../images/icons/search.svg');
    background-position-y: center;
    background-position-x: 15.5em;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-right: 2em;
    margin-right: 3em;
    outline: 1px solid transparent;
    transition: outline-color .15s ease-in-out;
}

    input.title-bar-search:focus {
        outline-color: #ddd;
    }

ul.side-bar-nav {
    margin: 0;
    padding: 0.5em;
    font-weight: 600;
    font-size: 1.1em;
}

    ul.side-bar-nav a.side-nav-item {
        text-decoration: none;
        color: #818181;
        opacity: 0.7;
    }

        ul.side-bar-nav a.side-nav-item:hover, ul.side-bar-nav a.side-nav-item:focus {
            opacity: 1;
        }

        ul.side-bar-nav a.side-nav-item .inline-icon {
            opacity: 0.7;
        }

    ul.side-bar-nav li {
        line-height: 2.5em;
    }
