<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Hata</h1>
        <h2>Hata oluştu Daha Sonra Tekrar Deneyiniz</h2>
    </hgroup>
</body>
</html>
